$button_font_size : 24px;
$button_font : serif;
$button_border : 16px;
$padding_tb : 0.72em;
$padding_lr : 1.02em;
$border : 0px solid;

$primary_color : rgb(233, 233, 233);
$primary_hover_bc : #016fdd;
$primary_bc_color : rgb(2, 76, 141);

$danger_color : #000 ;
$danger_bg_color :  #DC143C;
$danger_hover_bc_color : #FF0000;

$secondary_color : rgb(255, 254, 254) ;
$secondary_bg_color :  #353534;
$secondary_hover_bc_color : #585857;

$warning_color : #000 ;
$warning_bg_color :  #FFFF00;
$warning_hover_bc_color : #f2f20d;


$info_color : #000 ;
$info_bg_color :  #00FFFF;
$info_hover_bc_color : #01DFD7;