//size
$font-size : 20px;
$head-title-size: 25px;

//colors
$link-color: #000;
$link-bg-color: #fff;
$link-hover-bg-color : rgb(63, 61, 61); 
$link-hover-color: #fff;


//space
$all-lintItems-top: 20px;
$padding : 8px;
$margin-lr : 0px;
$margin-tb : 10px;
$head-title-margin : auto;

$border-radius : 6px;